{# Render form fields #}
{% macro displayField(field, fieldName) %}
    <div class="form-group">
        {{ field(class_='form-control', placeholder=fieldName, **kwargs) }}
        <!-- Error messages -->
        <ul class="formError">
            {% for error in field.errors %}
               <span style="color:red;">{{error}}</span>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
