{% extends 'layout/layout.jinja2' %}
{% block body %}
<section class="page-bg">
	<div class="container text-center">
		<img width="150" src="{{ url_for('static', filename='images/logo/logo.png')}}">
		<h1 class="text-white mt-5" style="font-size: 30px">Welcome To The StreetCube Great Sustainable Organic Market</h1>
	</div>
</section>
<section class="pt-5 pb-5 bg-silver">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<div class="card">
				<div class="text-center">
						  {% with messages = get_flashed_messages(with_categories=true)  %}

                            {% if messages %}

                                   {% for category,message in messages %}
                                    <div class ="alert alert-{{ category }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss='alert' aria-label="close">
                                            <span aria-hidden="true">x</span>
                                        </button>
                                        {{message}}
                                    </div>
                                    {% endfor %}

                            {%endif%}

                        {% endwith %}

				</div>
				   <form method="POST">
			     {{form.csrf_token}}
				  <div class="card-body text-center pt-5 pb-5">
                        <h5>Hey {{session.get('uname')}}, please enter your last name</h5>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								
                                <div class="form-group mt-4 mb-4">
                                    <input type="text" class="form-control form-control-lg" placeholder="Enter Last Name" name="lname">
                                    {% for error in form.lname.errors %}
                                        <span style="color:red;">{{error}}</span>
                                    {% endfor %}
						       </div>
							</div>
                            <div class="col-md-2"></div>

						</div>
						
                  <div class="row">
{#							<div class="col-6"></div>#}
							<div class="col-12">
                       
								<p class="text-right">
                                    <button class="btn btn-danger" type="submit">Next</button></p>
							</div>
						</div>
					</div>

					</form>
				</div>
			
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</section>
{% endblock %}

{% block script %}

{% endblock %}