{% extends 'admin/layout.jinja2' %}
{% block body %}
<div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumb-->
     <div class="row pt-2 pb-2">


     </div>
     </div>
    <!-- End Breadcrumb-->
    <!-- End Breadcrumb-->
      <div class="row">
        <div class="col-lg-12">
		  <div style="height:600px"> <!--Please remove the height before using this page-->


              <h5 class="mt-5 text-center text-danger">You can't access this page</h5>

              
		  </div>
        </div>
      </div>
<!--start overlay-->
	  <div class="overlay toggle-menu"></div>
	<!--end overlay-->
    </div>
    <!-- End container-fluid-->

   </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->


  </div><!--End wrapper-->

{% endblock %}