{% extends "layout/layout.jinja2" %}

{% block title %}Page Not Found Error{% endblock %}

{% block head %}

{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }

</style>
{% endblock %}

{% block body %}
<div class="container">
    {% if e %}{{ e }}{% endif %}
    <div class="container text-center">
         <img  src="{{ url_for('static', filename = 'images/400.jpg')}}" width="200" height="200">
    </div>

</div>
{% endblock %}