{% include "include/page-header.jinja2" %}

<section class="bg-dark2">
    <h5 class="text-center pt-3 text-green"><img width="30" class="mr-3" src="{{url_for('static', filename='img/icons/cube.svg')}}"><b>GAZEBO APPLICATION FORM</b></h5>
 <!--   <div class="text-center">-->
	<!--	<img width="100" src="img/icons/cube.svg">-->
	<!--</div>-->
	<div class="container">
	    <div class="row">
	    <div class="col-md-3"></div>
	    <div class="col-md-6">
	       

        <div class="form-box mt-2">
            
                 <h6><b>Part 7: Branding/operation</b></h6>
              
            
            <form action="" method='POST' name="gazeboappfrmeigh">
            
                <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Company Brand Name</label>
                    <input type="text" class="form-control form-control-sm" id="" name="company_brand_name" value="{{ga_prt_8th_up.company_brand_name}}">
                </div>
               
               <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Registered Company Name</label>
                    <input type="text" class="form-control form-control-sm" id="" name="reg_company_name" value="{{ga_prt_8th_up.reg_company_name}}">
                </div>

                <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Registered Company No</label>
                    <input type="text" class="form-control form-control-sm" id="" name="reg_company_no" value="{{ga_prt_8th_up.reg_company_no}}">
                </div>

                <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Registered Company Address</label>
                    <input type="text" class="form-control form-control-sm" id="" name="reg_company_address" value="{{ga_prt_8th_up.reg_company_address}}">
                </div>

                 <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Registered Trading Name</label>
                    <input type="text" class="form-control form-control-sm" id="" name="reg_trading_name" value="{{ga_prt_8th_up.reg_trading_name}}">
                </div>

               <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">What is the name of your operation?</label>
                    <input type="text" class="form-control form-control-sm" id="" name="name_of_your_operation" value="{{ga_prt_8th_up.name_of_your_operation}}">
                </div>
                <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">What is the average retail price of your most popular item?</label>
                    <input type="text" class="form-control form-control-sm" id="" name="retail_price" value="{{ga_prt_8th_up.retail_price}}">
                </div>
                
                <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">What kitchen equipment will you use on a daily basis?</label>
                    <input type="text" class="form-control form-control-sm" id="" name="kitchen_uses" value="{{ga_prt_8th_up.kitchen_uses}}">
                </div>
                <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">What serving methods / containers will you use?</label>
                    <input type="text" class="form-control form-control-sm" id="" name="serving_methods" value="{{ga_prt_8th_up.serving_methods}}">
                </div>
                <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Please list any other kitchen items you may use. (Blender, electrical).</label>
                    <input type="text" class="form-control form-control-sm" id="" name="other_kitchen_items" value="{{ga_prt_8th_up.other_kitchen_items}}">
                </div>
                <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Please make a list of all the equipment you intend using at the site?</label>
                    
                    <textarea class="form-control text-white" rows="3" name="all_the_equip_uses" >{{ga_prt_8th_up.all_the_equip_uses}}</textarea>
                </div>
                <div class="form-group">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">What drinks will you serve?</label>
                    <input type="text" class="form-control form-control-sm" id="" name="drinks_serve" value="{{ga_prt_8th_up.drinks_serve}}">
                </div>
                <div>
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Will you need - Gas / Electric or both?</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="cooking_method" id="" value="Gas" {% if ga_prt_8th_up.cooking_method=='Gas'%} checked {%endif%}>
                  <label class="form-check-label" for="inlineRadio6">Gas</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="cooking_method" id="" value="Electric" {% if ga_prt_8th_up.cooking_method=='Electric'%} checked {%endif%}>
                  <label class="form-check-label" for="inlineRadio7">Electric</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="cooking_method" id="" value="Both" {% if ga_prt_8th_up.cooking_method=='Both'%} checked {%endif%}>
                  <label class="form-check-label" for="inlineRadio8">Both</label>
                </div>
                
                
                <div class="text-right">
                    <button type="submit" class="btn-none"><img height="35" draggable="false" src="{{url_for('static', filename='img/icons/con-btn.svg')}}"></button>
                </div>
                
            </form>
        </div>
        <br>
                <br>
	    </div>

	    <div class="col-md-3"></div>
	</div>
	</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"> </script>
<script>

// Wait for the DOM to be ready
$(function() {
  $("form[name='gazeboappfrmeigh']").validate({
    rules: {
      
      company_brand_name: "required",
      reg_company_no: "required",
      name_of_your_operation: "required",
      retail_price: "required",
      kitchen_uses: "required",
      serving_methods: "required",
      other_kitchen_items: "required",
      all_the_equip_uses: "required",
      drinks_serve: "required",
     
    },
   
    messages: {
      company_brand_name: "Please enter company brand name",
      reg_company_no: "Please enter registered company number",
      name_of_your_operation: "Please enter name of your operation",
      retail_price: "Please enter retail price",
      kitchen_uses: "Please enter daily uses kitchen",
      serving_methods: "Please enter serving method",
      other_kitchen_items: "Please enter other kitchen items",
      all_the_equip_uses: "Please enter all the equipment uses",
      drinks_serve: "Please enter drinks serve",
     
      
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
});
</script>

{% include "include/page-footer.jinja2" %}