 {% extends 'streetcube/base.jinja2' %}

 {% block content %} 

<!-- HEADER SECTION -->
<div class="p-5 logo_area">
				<img width="120" src="/static/img/logo.png">
			</div>
		<div class="mt-3">
			<div class="row m-0">
				<div class="col-md-4 box_menu b_m1">
					<a href="{{url_for('front.apply',cano_url='gazebo')}}" class="a_none">
						<h2>
						    <img class="sm_icon icon_w" src="static/img/icon1.svg">
						    <img class="sm_icon icon_c" src="static/img/icon1-h.svg">
						     Market Traders</h2>
						<h5>Daily Sustainable Market Operators, apply here <br>
						</h5>
					</a>
				</div>
				<div class="col-md-4 box_menu b_m2">
					<a href="{{url_for('front.apply',cano_url='streetcube')}}" class="a_none">
						<h2>
						    <img class="sm_icon icon_w" src="static/img/icon2.svg">
						    <img class="sm_icon icon_c" src="static/img/icon2-h.svg">
						    StreetCube Chef</h2>
						<h5>StreetCube Permanent Chefs, apply here<br>
						</h5>
					</a>
				</div>
				<div class="col-md-4 box_menu b_m3">
					<a href="{{url_for('front.apply',cano_url='sustainable')}}" class="a_none">
						<h2>
						    <img class="sm_icon icon_w" src="static/img/icon3.svg">
						    <img class="sm_icon icon_c" src="static/img/icon3-h.svg">
						    Sustainable City </h2>
						<h5>Suppliers, town planners, journalists etc - find out more here</h5>
						</h5>
					</a>
				</div>
			</div>
		</div>
		<!-- HEADER SECTION END-->
		<br>
		<br>
		<br>
		<br>
		<br>


 {% endblock %}			