{% include "include/page-header.jinja2" %}
<style>
.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn {
  background: #4caf50;
  border-radius: 0;
}
.modal-backdrop
{
    opacity:0.5 !important;
}

</style>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
<section class="bg-dark2">
  <h5 class="text-center pt-3 text-green"><b>GAZEBO APPLICATION FORM</b></h5>
  <div class="text-center"> <img width="100" src="{{url_for('static', filename='img/icons/cube.svg')}}"> </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-12">
        <div class="form-box mt-2">
          <h6 class="text-center"><b>Street Cube Menu Proposal & Sustainability Declarations</b></h6>
          <button class="btn btn-md btn-primary float-right " id="addBtn" type="button"><i class="fas fa-plus-square"></i></button>
          <br class="clearfix">
          <div class="form-group mt-4">
            <table class="table table-dark table-striped" id="displayTable">
              <thead>
                <tr>
                  <th> Product Name </th>
                  <th> Organic Produce</th>
                  <th> Seasonal Produce</th>
                  <th> Locally Grown</th>
                  <th> Zero Plastic</th>
                  <th>Zero waste to Landfill </th>
                  <th>Vegetable/ Meat Ratio </th>
                  <th> Nutritional Content </th>
                  <th> Non -Sugar Based Drinks</th>
                  <th> Allergy Rating</th>
                  <th> Non-Dairy Ingredients</th>
                  <th> Total Sustainbillity Score</th>
                </tr>
              </thead>
              <tbody id="tblbody">
                
            {%for sm_check_data in sample_check_data%}
            <tr>
              <td class="row-index text-center"> 
              <p>
                <select class="opts" name="choose_product">
                  {% for prdt in prod_list %}
                    <option value="{{prdt.products}}" {% if prdt.products == sm_check_data.choose_product %} selected="selected" {%endif%}>{{prdt.products}}</option>
                  {%endfor%}
                </select>
              </p>

               </td> 
              <td class="row-index text-center"> 
                 <p>
                  {% if sm_check_data.organic_produce %}
                  <input type="text" name="organic_produce" id="p1_{{loop.index}}" value="{{ "%.2f"|format(sm_check_data.organic_produce) }}" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"> 
                 
                  {% endif %}
                  
                </p> 
             </td> 
              <td class="row-index text-center"> 
             <p>
                {% if sm_check_data.seasonal_produce %}
                <input type="text" name="seasonal_produce" id="p2_{{loop.index}}" value="{{ "%.2f"|format(sm_check_data.seasonal_produce|float)}}" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
                
                {% endif %}
              
              </p>
             </td> 
              <td class="row-index text-center"> 
              {% if sm_check_data.locally_grown %}
               <p>
                <input type="text" name="locally_grown" id="p3_{{loop.index}}"  value="{{ "%.2f"|format(sm_check_data.locally_grown|float)}}"  onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
               </p> 
             
              {%endif%}

             </td> 
              <td class="row-index text-center"> 
                {% if sm_check_data.zero_plastic %}
               <p><input type="text" name="zero_plastic" id="p4_{{loop.index}}" value="{{ "%.2f"|format(sm_check_data.zero_plastic|float)}}" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
                
                 {%endif%}

             </td> 
                <td class="row-index text-center">
                {% if sm_check_data.zero_waste_to_landfill %}
               <p><input type="text" name="zero_waste_to_landfill" id="p5_{{loop.index}}" value="{{"%.2f"|format(sm_check_data.zero_waste_to_landfill|float)}}" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
            
             {%endif%}


             </td> 
              <td class="row-index text-center"> 
                {%if sm_check_data.vegetable_meat_ratio %}
               <p><input type="text" name="vegetable_meat_ratio" id="p6_{{loop.index}}" value="{{"%.2f"|format(sm_check_data.vegetable_meat_ratio|float)}} " onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p>
               
               {%endif%}

             </td> 
              <td class="row-index text-center"> 
                {% if sm_check_data.nutritional_content %}
               <p><input type="text" name="nutritional_content" id="p7_{{loop.index}}" value="{{"%.2f"|format(sm_check_data.nutritional_content|float)}} " onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p>
               
               {%endif%}

             </td> 
              <td class="row-index text-center"> 
                {%if sm_check_data.non_sugar_drinks%}
               <p><input type="text" name="non_sugar_drinks" id="p8_{{loop.index}}"  value="{{ "%.2f"|format(sm_check_data.non_sugar_drinks|float)}} " onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
               
               {%endif%}

             </td> 
                <td class="row-index text-center"> 
                {% if sm_check_data.allergy_rating %}
               <p><input type="text" name="allergy_rating" id="p9_{{loop.index}}"  value="{{ "%.2f"|format(sm_check_data.allergy_rating|float)}} " onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
               
               {%endif%}

             </td> 
                <td class="row-index text-center">
                {%if sm_check_data.non_diary_drinks %} 
               <p><input type="text" name="non_diary_drinks" id="p10_{{loop.index}}" value="{{ "%.2f"|format(sm_check_data.non_diary_drinks|float)}} " onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 

               
               {%endif%}

             </td> 
                <td class="row-index text-center"> 
                {%if sm_check_data.total_sus_score %}
               <p><input type="text" name="total_sus_score"  value={{ "%.2f"|format(sm_check_data.total_sus_score|float)}} " placeholder="Total Score"></p> 
              
                {%endif%}

             </td> 
             
              <td class="text-center">
                
                <a href="javascript:void(0);" class="d-inline quality" id = '{{sm_check_data.id}}'><i class="fas fa-edit"></i></a>
                <a href="{{url_for('front.qlty_delete',id= sm_check_data.id)}}" class="d-inline" onClick="return confirm('Are you absolutely sure you want to delete?')"><i class="fas fa-trash"></i></a>
                
             </td> 
         
                </tr>
            {%endfor%}

                </tr>

              </tbody>
            </table>

            
              <form action="" method="POST" name="checkForm">
              <table class="table table-dark table-striped" id="myTable">
              <thead>
                <!--
                <tr>
                  <th> Product Name </th>
                  <th> Organic Produce</th>
                  <th> Seasonal Produce</th>
                  <th> Locally Grown</th>
                  <th> Zero Plastic</th>
                  <th>Zero waste to Landfill </th>
                  <th>Vegetable/ Meat Ratio </th>
                  <th> Nutritional Content </th>
                  <th> Non -Sugar Based Drinks</th>
                  <th> Allergy Rating</th>
                  <th> Non-Dairy Ingredients</th>
                  <th> Total Sustainbillity Score</th>
                </tr>
              -->
              </thead>
              <tbody id="tbody">
                <tr>
                
            
                </tr>

              </tbody>
            </table>
            <div class="container">

            <div class="row">
              <div class="col-md-3 offset-10">
              <input type="button" onclick="average();" value="Run Algo" class="btn btn-primary"> &nbsp;&nbsp;
              <input type="submit" value="Continue" class="btn btn-primary"> 
            </div>
            </div>
          </div>
            </form>


          
          </div>
          
          <br>
          <br> </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal bg-dark fade" id="qualityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-danger">
        <h5 class="modal-title" id="exampleModalLabel">Update Algo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{url_for('front.qlty_update')}}" method="POST">
      <div class="modal-body bg-primary">
          <input type="hidden" name="qlty_id" id="qlty_id">
          <div class="form-group">
            <label for="exampleInputEmail1">Choose Product</label>
             <input type="text" name="choose_product" id="choose_product"> 
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Organic produce</label>
            <input type="text" name="organic_produce" id="organic_produce" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"> 
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Seasonal produce</label>
            <input type="text" name="seasonal_produce" id="seasonal_produce" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Locally grown</label>
            <input type="text" name="locally_grown" id="locally_grown" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Zero plastic</label>
            <input type="text" name="zero_plastic" id="zero_plastic" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Zero waste to landfill</label>
            <input type="text" name="zero_waste_to_landfill" id="zero_waste_to_landfill" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
          </div>
            <div class="form-group">
            <label for="exampleInputEmail1">Vegetable meat ratio</label>
            <input type="text" name="vegetable_meat_ratio" id="vegetable_meat_ratio" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nutritional content</label>
            <input type="text" name="nutritional_content" id="nutritional_content" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Non_sugar_drinks</label>
            <input type="text" name="non_sugar_drinks" id="non_sugar_drinks" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
          </div>
           <div class="form-group">
            <label for="exampleInputPassword1">Allergy_rating</label>
            <input type="text" name="allergy_rating" id="allergy_rating" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Non_diary_drinks</label>
            <input type="text" name="non_diary_drinks" id="non_diary_drinks" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Total_sus_score</label>
            <input type="text" name="total_sus_score" id="total_sus_score" onkeypress="return validateNumber(event)" onchange="changeHandler(this)">
          </div>
        
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="btn btn-secondary" onclick="avg_modal();">Run Algo</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js">
</script>
<script type='text/javascript'>
  $(document).ready(function(){
  $(document).on('click', '.quality', function(){
  var qlty_id = $(this).attr("id");
  $.ajax({
   url:"{{ url_for('front.qlty_show')}}",
   method:"POST",
   data:{qlty_id:qlty_id},
   success:function(data){
    // var data_rs = JSON.parse(data);
    $('#qualityModal').modal('show');
    $('#qlty_id').val(data.qlty_id);
    $('#choose_product').val(data.choose_product);

    
    $('#organic_produce').val(data.organic_produce);
    $('#seasonal_produce').val(data.seasonal_produce);
    $('#locally_grown').val(data.locally_grown);
    $('#zero_plastic').val(data.zero_plastic);
    $('#zero_waste_to_landfill').val(data.zero_waste_to_landfill);
    $('#vegetable_meat_ratio').val(data.vegetable_meat_ratio);
    $('#nutritional_content').val(data.nutritional_content);
    $('#non_sugar_drinks').val(data.non_sugar_drinks);
    $('#allergy_rating').val(data.allergy_rating);
    $('#non_diary_drinks').val(data.non_diary_drinks);
    $('#total_sus_score').val(data.total_sus_score);
    
    
   }
  });
 });
  });

function avg_modal(){
    var a = parseInt($('#organic_produce').val());
    var b = parseInt($('#seasonal_produce').val());
    var c = parseInt($('#locally_grown').val());
    var d = parseInt($('#zero_plastic').val());
    var e = parseInt($('#zero_waste_to_landfill').val());
    var f = parseInt($('#vegetable_meat_ratio').val());
    var g = parseInt($('#nutritional_content').val());
    var h = parseInt($('#non_sugar_drinks').val());
    var t = parseInt($('#allergy_rating').val());
    var j = parseInt($('#non_diary_drinks').val());
    var afinal = ((a + b + c + d + e + f + g + h + t + j) / 10);
    $('#total_sus_score').val(afinal);
    afinal = 0;

}
</script>
<script>
function validateNumber(e) {
  const pattern = /^[0-9]$/;
  return pattern.test(e.key)
}

function changeHandler(val) {
  if(Number(val.value) > 100) {
    val.value = 100
  }
}
</script>
<script>
$(document).ready(function() {
  // Denotes total number of rows 
  var rowIdx = 0;
  // jQuery button click event to add a row 
  $('#addBtn').on('click', function() {
    // Adding a row inside the tbody. 
    $('#tbody').append(`<tr id="R${++rowIdx}"> 

            
             <td class="row-index text-center"> 
             <p>
                  <select class="opts" name="choose_product">
                    {% set default_value ='choose_product'%}
                    {% for prdt in prod_list %}
                    <option value="{{prdt.products}}">{{prdt.products}}</option>
                    {%endfor%}
                  </select>
                </p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="organic_produce" id="p1_${rowIdx}" value="" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"> </p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="seasonal_produce" id="p2_${rowIdx}" value="" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="locally_grown" id="p3_${rowIdx}" onkeypress="return validateNumber(event)" value="" onchange="changeHandler(this)"></p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="zero_plastic" id="p4_${rowIdx}" value=""  onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="zero_waste_to_landfill" id="p5_${rowIdx}" value="" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="vegetable_meat_ratio" id="p6_${rowIdx}" value=""onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="nutritional_content" id="p7_${rowIdx}"  value="" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="non_sugar_drinks" id="p8_${rowIdx}"  value="" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="allergy_rating" id="p9_${rowIdx}" value="" onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="non_diary_drinks" id="p10_${rowIdx}" value=""  onkeypress="return validateNumber(event)" onchange="changeHandler(this)"></p> 
             </td> 
              <td class="row-index text-center"> 
             <p><input type="text" name="total_sus_score" id="avg_${rowIdx}" value="" placeholder="Total Score"></p> 
             </td> 
             
              <td class="text-center"> 
                <button class="btn btn-danger remove"
                  type="button">Remove</button> 
                </td> 
              </tr>`);
  });
  // jQuery button click event to remove a row. 
  $('#tbody').on('click', '.remove', function() {
    // Getting all the rows next to the row 
    // containing the clicked button 
    var child = $(this).closest('tr').nextAll();
    // Iterating across all the rows  
    // obtained to change the index 
    child.each(function() {
      // Getting <tr> id. 
      var id = $(this).attr('id');
      // Getting the <p> inside the .row-index class. 
      var idx = $(this).children('.row-index').children('p');
      // Gets the row number from <tr> id. 
      var dig = parseInt(id.substring(1));
      // Modifying row index. 
      idx.html(`Row ${dig - 1}`);
      // Modifying row id. 
      $(this).attr('id', `R${dig - 1}`);
    });
    // Removing the current row. 
    $(this).closest('tr').remove();
    // Decreasing total number of rows by 1. 
    rowIdx--;
  });
});
</script>
<script type "text/javascript">
function average() {
  var rowCount = $('#myTable tr').length;
  //alert(rowCount);
  for(var i = 1; i < rowCount; i++) {
    var a = parseInt(document.getElementById("p1_" + i).value);
    var b = parseInt(document.getElementById("p2_" + i).value);
    var c = parseInt(document.getElementById("p3_" + i).value);
    var d = parseInt(document.getElementById("p4_" + i).value);
    var e = parseInt(document.getElementById("p5_" + i).value);
    var f = parseInt(document.getElementById("p6_" + i).value);
    var g = parseInt(document.getElementById("p7_" + i).value);
    var h = parseInt(document.getElementById("p8_" + i).value);
    var t = parseInt(document.getElementById("p9_" + i).value);
    var j = parseInt(document.getElementById("p10_" + i).value);
    var afinal = ((a + b + c + d + e + f + g + h + t + j) / 10);
    // document.getElementById('avg_'+i).value=afinal;
    $('#avg_' + i).val(afinal);
    //afinal = 0;
  }
}


</script> {% include "include/page-footer.jinja2" %}