    <div class="container text-center pt-5 pb-5 text-white">
        <h3>Find us on</h3>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="d-flex mt-5">
                    <div class="flex-fill">
                        <a href="#">
                            <img height="40" data-toggle="tooltip" data-placement="top" title="Facebook" src="{{ url_for('static', filename='images/icons/facebook.svg') }}">
                        </a>
                    </div>
                    <div class="flex-fill">
                        <a href="#">
                            <img height="40" data-toggle="tooltip" data-placement="top" title="Instagram" src="{{ url_for('static', filename='images/icons/instagram.svg')}}">
                        </a>
                    </div>
                    <div class="flex-fill">
                        <a href="#">
                            <img height="40" data-toggle="tooltip" data-placement="top" title="Twitter" src="{{ url_for('static', filename='images/icons/twitter.svg')}}">
                        </a>
                    </div>
                    <div class="flex-fill">
                        <a href="#">
                            <img height="40" data-toggle="tooltip" data-placement="top" title="WhatsApp" src="{{ url_for('static', filename='images/icons/whatsapp.svg')}}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <ul class="nav justify-content-center mt-4">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Join us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">How it works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">FAQs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Tearms</a>
            </li>
        </ul>
    </div>